/*HERO-SECTION*/
.hero {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/about-home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.hero .container {
    gap: 1.5rem;
}

.hero-text {
    padding: 3rem 1rem;
    width: 90%;
    margin: 0 auto;
}

.hero-text h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 90px;
    /* or 173% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    padding: 1rem;
    text-align: center;
}






.hero-text p {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.6;
    /* or 219% */
    text-align: center;

    padding: 1rem;


    /* White */

    color: var(--white);
}

.hero-text a {
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
}

.hero-cta-1 {
    background: var(--dark-bg);
    color: var(--white);
    border: 1px solid var(--dark-bg) !important;
}

.hero-form form div {
    margin: 1.5rem 0;
    padding: .5rem 0;
}


.hero-form form {
    background-color: var(--light-bg);
    padding: 2.5rem;
    width: 100%;
    background: rgba(25, 26, 28, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.mail-label {
    margin-left: 1rem !important;
}

.hero-form label {
    padding: 2rem 0;
    color: var(--white);
}



/*ABOUT SECTION*/

.about {
    background: var(--light-bg);
    color: var(--white);
    padding: 2rem .5rem;
}

.about .container {
    gap: 1rem;
    margin-bottom: .5rem;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;


    color: var(--subtext-color) !important;
}

.about h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    /* White */


}

.about h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 47px;
    /* or 157% */


    text-transform: capitalize;
}

.about p {

    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */
    letter-spacing: 0.03em;
}

.about-text,
.about-img {
    width: 50%;
}

.about-img img {
  border-radius: 60px 12px 60px 12px;
  border: 1px solid var(--white);
}

.about-cta {
    width: 90%;
    margin: 0 auto;
    gap: 1rem;

}

.about-cta a {
    margin: 1rem .5rem;
    padding: 10px 25px;
    border-radius: 10px;
    -webkit-box-shadow: inset -1px 3px 8px 5px #E4E4E4, 2px 5px 16px 0px #E4E4E4, 5px 5px 15px 5px rgba(228, 228, 228, 0);
    box-shadow: inset -1px 3px 3px 2px #E4E4E4, 2px 5px 16px 0px #E4E4E4, 3px 3px 10px 3px rgba(228, 228, 228, 0);
}


/*TEAM*/
.team {
    background: var(--dark-bg);
    padding: 3rem 1rem;
}

.team .container {
    grid-template-columns: repeat(3, 1fr);
}


.team-card {
    gap: 2rem;
    max-width: 300px;
    margin-top: 2rem;
    background: linear-gradient(357.81deg, rgba(39, 39, 46, 0.6445) 1.75%, rgba(74, 75, 86, 0.0072) 98.16%);
    border-radius: 30px;
    -webkit-box-shadow: inset -1px 3px 8px 5px #E4E4E4, 2px 5px 16px 0px #E4E4E4, 5px 5px 15px 5px rgba(228, 228, 228, 0);
    box-shadow: inset -1px 3px 3px 2px #E4E4E4, 2px 5px 16px 0px #E4E4E4, 3px 3px 10px 3px rgba(228, 228, 228, 0);
}

.card-caption h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */

    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 1rem;
    color: var(--white);
}

.card-caption h4 {

    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */
    text-align: center;

    color: #5F6062;
}

.card-icons img {
    padding: .5rem;
    margin-bottom: 1rem;
}

.card-img img {
    border-radius: 30px 0px 0px 30px;
}

.team h2,
.testimonials h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 63px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--white);
}

/*TESTIMONIALS*/

.testimonials {
    background: var(--light-bg);
}

.testimonials .container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.testimonial-card {
    max-width: 450px;
    background: var(--dark-bg);
    margin: 2rem 0;
    text-align: center;
    background: rgba(11, 11, 11, 0.8);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
}

.testimonial-card h2,
.services h2,
.contact h2,
.service-head {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */
    letter-spacing: 0.03em;
    color: var(--white);
    text-align: center;
}

.testimonial-card h2 span{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */
    color: var(--grey);
    letter-spacing: 0.03em;
}

.card-header img {
    display: none;

}

.card-header {
    padding: 1rem;
    width: 100%;
}

.review-content {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */
    padding: 1rem;

    letter-spacing: 0.03em;
    color: var(--white);
}


.card-footer {
    padding: 1rem;
}



.services {
    background: var(--dark-bg);
}

.services p,
.services h3,.service-subhead {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--white);
    padding: 1.5rem;
    width: 100%;
}

.services p {
    padding: 1rem 3rem;
}


.services .container {
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 1.5rem;
    color: var(--dark-bg) !important;
}

.services .services-card {
    background: var(--light-bg);
    padding: 1rem;
    border-radius: 20px;
    max-width: 350px;
}

.services-card h2 {
    margin: 1rem 0;
}

.services-card img {
    padding: 1rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--white);
    padding: 2rem;
    background: rgba(11, 11, 11, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 100;
    width: 500px;
    max-width: 90%;
}

.appear {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.modal-header button,
.close-form-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--white);
    font-size: 48px;
    font-weight: bolder;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */
    letter-spacing: 0.03em;
    color: var(--white);
    text-align: center;
}


.contact {
    background: var(--dark-bg);
}



.contact h2 {
    padding: 1rem 3rem;
    width: 75%;
    line-height: 1.6;
}

.contact .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.contact-info {
    grid-template-columns: repeat(2, 1fr);
}

.left-bar .icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0;
}

.left-bar .icon img {
    width: 48px;
}

.contact-info h3,
.contact-info h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.6;
    /* or 138% */
    text-transform: capitalize;

    color: var(--white);
}

.location.flex {
    gap: 1rem;
}

.contact-content {
    padding: 2rem .5rem;
}

.location {
    padding: 1rem;
}

.location p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--white);
    width: 100%;
}

.content-img {
    background: var(--white);
    padding: .5rem;
    border-radius: 50%;
}

.contact-form {
    background: var(--dark-bg);
}

.scroll-up,
.scroll-up-2 {
    position: fixed;
    right: 1rem;
    bottom: 8%;
    display: inline-flex;
    padding: 0.3rem;
    border-radius: 0.25rem;
    z-index: 1000;
    opacity: .7;
    transition: .4s;
    background: var(--white);
    width: 40px;
}

.scroll-up-2 {
    right: 0;
    left: 1rem;
    background: none;
    width: 60px;
}

.scroll-up:hover,
.scroll-up-2:hover {
    opacity: 1;
}


.lead-form {
    max-width: 370px;
    padding: .5rem;
    margin: 0 auto;
    position: fixed;
    top: 5%;
    left: 0%;
    transform: scale(0);
    color: var(--white);
    background: rgba(11, 11, 11, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    pointer-events: none;
    transition: all .5s ease;
    padding: .45rem .5rem;
    z-index: 10000;
}

.lead-form.visible {
    transform: scale(1);
    pointer-events: all;
}

.lead-form form {
    max-height: 100%;
}

.lead-form h3 {
    padding: .25rem .5rem;
    color: var(--white);
    text-align: center;
}

.lead-form input {
    border: 1px solid var(--grey);
    outline: none;
    border-radius: 5px;
    padding: .15rem 1rem;
    width: 80%;
}

.lead-form textarea {
    padding: .2rem 1rem;
    width: 80%;
}

.lead-form label {
    line-height: 1;
    padding: 0;
}

footer{
    background-color: var(--light-bg) !important;
}

.products {
    background-color: var(--dark-bg);
    padding: 1rem;
}
.products .container {
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 1rem;
}

.products .container div {
    background: var(--light-bg);
    padding: 1rem;
    color: var(--white);
}

/*MEDIA QUERIES*/
@media (max-width:950px){
    .burger-menu{
        display: flex;
    }

    .products .container {
        grid-template-columns: repeat(2,1fr);
    }
     .hero .container{
       display: grid;
       place-items: center;
       grid-template-columns: repeat(1,1fr);
     }
  
     .hero-text h2 {
     font-size: 48px;
      padding: 1.5;
      text-align: center;
  }
  
  .hero-text p {
   
    font-size: 32px;
   
    text-align: center;
  
  }
  
  .hero-text {
    padding: 3rem 1rem;
    width: 100%;
  }
  
  .hero-cta{
    justify-content: center !important;
  }
  
  .hero-form{
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  
  .hero-form a{
    margin: 1rem 0;
  }
  
  .phone-area{
    width: 95%;
    margin: 0 auto !important;
    justify-content: center;
   }
  
  .form-cta{
    display: flex;
    justify-content: center;
  }
  
  
  
    .home-cta{
        display: none;
    }
    .navbar .nav-container {
        position: relative;
    }
    .menu-list{
      background: var(--light-bg);
      position: absolute;
      top: calc(100% + 5px);
      left: 25px;
      right: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;
      padding: 40px;
      box-shadow: 0 10px 40px hsla(0,0%,0%,0.1);
      transform: scale(0.9);
      transform-origin:  top right;
      opacity: 0;
      pointer-events: none;
      border: 1px solid var(--white);
      border-radius: 15px;
      
    }
  
    .menu-list.visible{
      transform: scale(1);
      opacity: 1;
      pointer-events: all;
  }
  
    .menu-list a{
        padding: 2rem 15px;
        font-size: 28px;
    }
  
    .no-display{
      opacity: 0;
      pointer-events: none;
    }
  
  
    
    .burger-menu.visible .line-1{transform: translateY(4px) rotate(45deg);}
  
   .burger-menu.visible .line-2{display: none;}
  
   .burger-menu.visible .line-3{transform: translateY(-4px) rotate(-45deg);}
  
  
   .menu-list a:hover,.active{
     background: transparent !important;
     color: var(--subtext-color);
   }
  
   .about{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    
   }
  
   
   .about .container{
     display: grid;
     grid-template-columns: repeat(1,1fr);
     place-items: center;
     gap: 3rem;
     width: 90%;
     
   }
  
  
  
   .about-text,
  .about-img {
      width: 100%;
      text-align: left;
      padding: 1rem;
      
  }
  
  
  
  .about-cta a{
    margin: 1rem 0;
    margin-left: 1rem;
  }
  
  
  .about-img img{
    width: 100% !important;
    box-shadow: none;
    border-radius: 1px;
   
  }
  
  .about-cta{
    flex-wrap: wrap;
  }
  
  .team .container, .services .container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .testimonials .container, .contact-info {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  
  .contact .icon{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
  }
  
  .contact iframe{
    width: 100%;
    height: 400px;
    padding: .5rem;
  }
  
  .contact-content .content p{
    width: 90%;
    padding-right: 1rem;
  }
  
  .left-bar h4{
    text-align: center;
  }
  
  .top-form{
    flex-direction: column;
    justify-content: flex-start;
  }
  
  
  }
  
  
  @media (max-width:760px) {
     .contact iframe{
       width: 100%;
     }
  
     .products .container {
        grid-template-columns: repeat(1,1fr);
    }

    

    .products .container div {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
     
     .mail-label {
      margin-left: 0 !important;
  }
  
  .hero-form {
    width: 100%;
  }
  
  }
  
  @media (max-width:550px){
    .hero-text h2 {
     font-size: 40px;
     line-height: 1.6;
  }
  
  
  .contact iframe{
    width: 100%;
  }
  
  
  
  
  
  .hero-text p {
      font-size: 20px;
      line-height: 1.6;
    }
  
  
    .about h2 {
      
      font-size: 32px;
     line-height: 1.6;
  
      /* White */
  
  
  }
  
  .about h3 {
     font-size: 20px;
  }
  
  .about p {
  
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 1.6;
      /* or 200% */
      letter-spacing: 0.03em;
  }
  
  .team .container, .services .container {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    
  }
  
  }
  
  